header h1 {
    display: inline-block;
    font-size: 48px;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #b82c2c;
    color: #ffffff;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

#about img {
    width: 200px;
    height: 250px;
}

.left{
    margin: 25px 15px;
    text-align: left;
    font-size: 30px;
    display: flexbox;
    border-right: thick solid var(--primary); display: inline-block; padding-right: 10px;
}



